{% load static %}
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'styletest.css' %}">
        <title>Bürgerservices</title>
        <style>
            #wohnsitz-section {
                display: none;
            }
        </style>
    </head>
    <body>
        <h1>Bürgerservices</h1>

        <form method="POST" action="{% url 'buerger_services' %}">                <!-- Korrelation zur views.py Funktion "Wohnsitz anmelden" -->    
            {% csrf_token %}
            <label for="Formulare_Meldeamt">Formulare Meldeamt</label>
            <select id="Formulare_Meldeamt" name="Formulare_Meldeamt">
                <option value="">Formular auswählen</option>
                <option value="wohnsitz">Wohnsitz anmelden</option>
            </select>

            <fieldset id="wohnsitz-section">
                <legend>Wohnsitz anmelden</legend>

                <label for="buerger_id">Bürger-ID:</label>                          <!-- später prüfen durch public key -->    
                <input type="text" id="buerger_id" name="buerger_id" required><br>

                <label for="adresse_id">Straße und Hausnummer:</label>
                <select id="adresse_id" name="adresse_id" required>
                    <option value="">Adresse auswählen</option>
                    {% for adr in adressen %}
                        <option value="{{ adr.id }}">{{ adr.label }}</option>
                    {% endfor %}
                </select>

                <button type="submit">Eingabe</button>
            </fieldset>
        </form>

        <script>
            // Wir holen uns das Auswahlfeld und beide Abschnitte
            const vorgangSelect = document.getElementById("Formulare_Meldeamt");
            const wohnsitzSection = document.getElementById("wohnsitz-section");

            // Wenn sich die Auswahl ändert, wird diese Funktion ausgeführt
            vorgangSelect.addEventListener("change", function() {
                const auswahl = vorgangSelect.value;
                    
                // Alles zuerst ausblenden
                wohnsitzSection.style.display = "none";

                // Je nach Auswahl das richtige anzeigen
                if (auswahl === "wohnsitz") {
                    wohnsitzSection.style.display = "block";
                } 
            })
        </script>
    </body>
</html>