{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <title>Dokumente</title>
  <link rel="stylesheet" href="{% static 'styletest.css' %}">
</head>

<body>
  {% include "einwohnermeldeamt/topbar.html" %}
  {% include "einwohnermeldeamt/navbar.html" %}

  <div class="content">
    <h1>Meine Dokumente</h1>

    <div class="card">
      {% if docs %}
      <div class="table_container">
        <table>
          <thead>
            <tr>
              <th>Typ</th>
              <th>Erstellt am</th>
              <th>Download</th>
            </tr>
          </thead>

          <tbody>
            {% for d in docs %}
            <tr>
              <td>
                {% if d.typ == "meldebestaetigung" %}
                Meldebestätigung
                {% elif d.typ == "heiratsurkunde" %}
                Heiratsurkunde
                {% else %}
                {{ d.typ }}
                {% endif %}
              </td>

              <td>
                {% if d.created_at_dt %}
                {{ d.created_at_dt|date:"d.m.Y H:i" }}
                {% else %}
                -
                {% endif %}

              </td>

              <td>
                <a class="button" href="{% url 'download_dokument' d.doc_id %}">
                  <p>Download</p>
                </a>

                {% if d.typ == "heiratsurkunde" and d.signatur_datei %}
                <a class="button" style="margin-top:8px;" href="{% url 'signatur_pruefen' d.doc_id %}" target="_blank">
                  <p>Signatur prüfen</p>
                </a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
      {% else %}
      <p>Keine Dokumente vorhanden.</p>
      {% endif %}
    </div>
  </div>

</body>

</html>