<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Login-Seite</title>
        <style>

        </style>
    </head>
    <body>
        <h1>Login</h1>

        <form action="/login" method="post">

            <fieldset id="login">
                <legend>Login</legend>

                <label for="b_id">Bürger_ID</label>
                <input type="text" id="b_id" name="b_id" required><br>

                <label for="pin">PIN</label>
                <input type="password" id="pin" name="pin" required><br>

                <button type="submit">Login</button>

            </fieldset>
        </form>
    </body>
</html>