<nav class="navbar hidden">
    <div class="navbar_hide_button" onclick="hideNavbar()">
        <span class="close-icon"></span>
        <h3>Menü</h3>
    </div>
    <div class="menu_items">
        <a href="{% url 'mainpage' %}"
            class="menu_item {% if request.resolver_match.url_name == 'mainpage' %}active{% endif %}">
            Hauptseite
        </a>

        <a href="{% url 'buerger_services' %}"
            class="menu_item {% if request.resolver_match.url_name == 'buerger_services' %}active{% endif %}">
            Bürgerservices
        </a>

        <a href="{% url 'dokumente' %}"
            class="menu_item {% if request.resolver_match.url_name == 'dokumente' %}active{% endif %}">
            Dokumente
        </a>

        <a href="{% url 'pers_daten' %}"
            class="menu_item {% if request.resolver_match.url_name == 'pers_daten' %}active{% endif %}">
            Persönliche Daten
        </a>
    </div>

    <script>
        function showNavbar() {
            const nav = document.querySelector(".navbar");
            nav.classList.remove("hidden");
            nav.classList.add("shown");
        }

        function hideNavbar() {
            const nav = document.querySelector(".navbar");
            nav.classList.add("hidden");
            nav.classList.remove("shown");
        }

        function toggleNavbar() {
            const nav = document.querySelector(".navbar");
            if (nav.classList.contains("hidden")) showNavbar();
            else hideNavbar();
        }
    </script>


</nav>