{% load static %}
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Standesamt</title>
        <link rel="stylesheet" href="{% static 'styletest.css' %}">
        <style>

        </style>
    </head>
    <body>
        {% include "topbar.html" %}
        {% include "navbar.html" %}
        <h1>Mitarbeiter-Portal</h1>
        <h2>Standesamt</h2>

        <form method="POST" action="{% url "standesamt" %}">
	    {% csrf_token %}

            <input type="hidden" name="formular_standesamt" value="heirat">

            <fieldset id="name-section">
                <legend>Namensänderung nach Heirat</legend>

                <label for="buerger_id">Bürger-ID Person 1:</label>
                <input type="text" id="buerger_id" name="buerger_id"><br>

                <label for="partner_id">Bürger-ID Partner:</label>
                <input type="text" id="partner_id" name="partner_id"><br>

                <label for="eheschliessungsdatum">Eheschließungsdatum:</label>
                <input type="date" id="eheschliessungsdatum" name="eheschliessungsdatum"><br>

                <label for="neuerNachname">Neuer Nachname:</label>
                <input type="text" id="neuer_nachname" name="neuer_nachname"><br>

                <button type="submit">Eingabe</button>

            </fieldset>
        </form>
    </body>
</html>